<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-twilio-video"
    version="0.2.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Twilio video conversation plugin</name>
    <license></license>
    <js-module name="twilio-solution" src="conversation.js">
        <clobbers target="cordova.videoconversation" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="VideoConversationPlugin">
                <param name="ios-package" value="TwilioVideoPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TwilioVideoPlugin.m" />
        <source-file src="src/ios/TwilioVideoViewController.m" />
        <header-file src="src/ios/TwilioVideoViewController.h" />
        <resource-file src="src/ios/Resources/TwilioVideo.storyboard" target="Resources/TwilioVideo.storyboard" />
        <resource-file src="src/ios/Resources/end-call-ios-white-33px.png" target="Resources/end-call-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/no-mic-ios-white-33px.png" target="Resources/no-mic-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/no-video-ios-white-33px.png" target="Resources/no-video-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/switch-camera-ios-white-33px.png" target="Resources/switch-camera-ios-white-33px.png" />

        <!-- The earlier iOS OS that this pod supports is 8.1, we can also update to 1.4.3 -->
        <pods-config ios-min-version="10" use-frameworks="true">
          <!-- If you are facing 'spec' issues on "ionic cordova platform add ios" un commit this section, here I am specificying which
          github path the specs for the needed Twilio v1 SDK is located -->
          <source url="https://github.com/CocoaPods/Specs"/>
          <source url="https://github.com/CocoaPods/Specs/tree/master/Specs/1/d/9/TwilioVideo/'"/>
        </pods-config>
        <pod name="TwilioVideo" version="3.4.1" />

        <preference name="CAMERA_USAGE_DESCRIPTION" default="Camera" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Microphone"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>

    </platform>
</plugin>
